
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .background {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    min-height: 100vh;
    background-color: black; 
    padding: 20px; 
  }
  
  .inside {
    background: black; 
    padding: 20px;
    width: 300px;
    color: white; 
    border-right: 2px solid gray; 
    height: 100vh; 
  }
  
  .heading{
    color: darkgray;
  font-size: medium;
  padding-left: 30px;
  font-family: "Roboto Mono", monospace;
  margin-top: 100px;
  padding-bottom: 10px;
  }
  .heading2 {
    color: darkgray;
    font-size: medium;
    padding-left: 30px;
    font-family: "Roboto Mono", monospace;
    margin-top: 80px;
  }
  
  .both {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .icon, .icon2 {
    font-size: 24px;
    margin-right: 10px;
    color: white; 
  }
  
  .content {
    font-size: 16px;
    color: white; 
    text-decoration: none;
   
  }
  .content2 {
    font-size: large;
    color: white;
    margin-top: 15px;
    margin-left: 8px;
    text-decoration: none;
  }
  
  .content2:hover {
    text-decoration: underline;
  }


  /* /* .form_box {
    /* margin-top: 20px; */
   
  
  /* .post { */
    /* background-color: #fff; */
    /* padding: 10px;
    margin: 10px 0; */
    /* border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  } */
  /* .rightSide {
    width: 30%;
    /* background-color: #f4f4f4; */
    /* padding: 20px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    right: 0;
    top: 0;
    height: 100%; */ 
    /* overflow-y: auto; */
  